# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.DemoApp.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\Repo\DemoApp\.idea\.idea.DemoApp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
